:host{
    height: 100%;
    width: 100%;
}
.carousel{
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 2em;
    border: solid green .25em;
 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#ffffff+52,e5e5e5+76,e5e5e5+100,e5e5e5+100 */
 background: rgb(255,255,255); /* Old browsers */
 background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 52%, rgba(229,229,229,1) 76%, rgba(229,229,229,1) 100%, rgba(229,229,229,1) 100%), fixed, center,no-repeat; /* FF3.6-15 */
 background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 52%,rgba(229,229,229,1) 76%,rgba(229,229,229,1) 100%,rgba(229,229,229,1) 100%), fixed, center,no-repeat; /* Chrome10-25,Safari5.1-6 */
 background: radial-gradient(ellipse at center, rgba(255,255,255,1) 52%,rgba(229,229,229,1) 76%,rgba(229,229,229,1) 100%,rgba(229,229,229,1) 100%), fixed, center,no-repeat; /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
 filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
 background-size: cover;}
.icon-item-container{
    cursor: pointer;
    color:green;
}
#arrow-up:hover, #arrow-down:hover{
    color: grey;
}
app-landing{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
}

