:host{
    height: 100%;
    width: 100%;
}
.carousel{
    height: 100%;
    width: 100%;
    display: flex;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.icon-item-container{
    cursor: pointer;
    color:green;
}
#arrow-up:hover, #arrow-down:hover{
    color: rgba(0, 128, 0, .2);
}


